
<!DOCTYPE html>
<html>
<head>
	<meta name="theme-color" content="brown">
<meta name="apple-mobile-web-app-status-bar-style" content="brown">
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116236740-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116236740-2');
</script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
	body{
		background-color: #424242;
		color : #00d0ff;
	}

	.container{
		padding: 20%;
		width: 100%;
		height: 100vh;
		border :3px solid black;
		background-color: #212121;
		color: #00d0ff;

	}

	button{
		font-weight: 500;
		padding: 10px;
		border: 2px solid #25ffbf;
		background-color: #25ffbf;
		color: #000;
		font-weight: 400;
		text-decoration: none;
	}

	button:hover{
		background-color: #000;
		color: #00d0ff;
		text-decoration: none;
	}

	img{
		width : 300px;
		height: 400px;
	}
</style>
<title>Page Not Found</title>
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../icons/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../icons/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../icons/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../icons/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="../icons/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="../icons/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="../icons/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="../icons/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="../icons/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="../icons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="../icons/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="../icons/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="../icons/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="../icons/&nbsp;"/>
<meta name="msapplication-TileColor" content="../icons/#FFFFFF" />
<meta name="msapplication-TileImage" content="../icons/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="../icons/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="../icons/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="../icons/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="../icons/mstile-310x310.png" />
</head>
<body>
	<div class="container">
		
		<div class="row text-center"><h2>404 Error : Page Not Found</h2><br/></div>
		<div class="row text-center">
			<div class="col-md-4 col-sm-4"></div>
			<div class="col-md-4 col-sm-4"><button onclick="window.location.href = '/' ">UTSAV 2019 HOME</button></div>
			<div class="col-md-4 col-sm-4"></div>
			
		</div>
</div> 
</body>
</html>