<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116236740-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116236740-2');
</script>

  <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="theme-color" content="brown">
<meta name="apple-mobile-web-app-status-bar-style" content="brown">
  <title>EVENTS | UTSAV</title>
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../icons/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../icons/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../icons/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../icons/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="../icons/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="../icons/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="../icons/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="../icons/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="../icons/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="../icons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="../icons/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="../icons/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="../icons/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="../icons/&nbsp;"/>
<meta name="msapplication-TileColor" content="../icons/#FFFFFF" />
<meta name="msapplication-TileImage" content="../icons/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="../icons/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="../icons/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="../icons/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="../icons/mstile-310x310.png" />
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../categories/css/style.css">
  <link href="../home/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../home/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
    <link href="../home/css/agency.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.1.99/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.0/css/swiper.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="../home/carousal/css/style.css">

    <style type="text/css">
  
  
  .ml-auto{
    margin: auto!important;
  }

  #mainNav{
    background: linear-gradient(to right, brown, black);
    /*background:#A62A2A;*/
  }
  #mainFig{
    padding-top: 65px;
  }

  @media (min-width: 700px){
    #mainFig{
      padding-top: 100px;
    }
  }

body {
    background: linear-gradient(to right, brown, black);



}

  </style>
</head>
<body>


  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger visi" href="#page-top"><!-- BMSCE UTSAV --><img class="img-fluid" src="../home/utsav.png" style="max-height:30px;"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/team">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/schedule">Schedule</a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>


<div class="text-center" id = "mainFig">
<% Object.keys(json).forEach(function(category){ %>
  <figure class="snip1543" >
  <img src="<%= json[category].img %>" alt="" />
  <figcaption>
    <h3><%= json[category].name %></h3>
    <p><%= json[category].desc %></p>
  </figcaption>
  <a href="/events/<%= category %>"></a>
</figure>
<% }); %>
</div>


</body>
<script type="text/javascript">
  /* Demo purposes only */
$(".hover").mouseleave(
  function() {
    $(this).removeClass("hover");
  }
);
</script>

<script src="../home/vendor/jquery/jquery.min.js"></script>
    <script src="../home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../home/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="../home/js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../home/js/agency.min.js"></script>
    <script src="../home/js/countdown.js"></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.0/js/swiper.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js'></script>
    <script  src="../home/carousal/js/index.js"></script>
</html>