<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116236740-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116236740-2');
</script>

 <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"> 


    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#303030">
<meta name="msapplication-navbutton-color" content="#303030">
<meta name="apple-mobile-web-app-status-bar-style" content="#303030">



    <title>Schedule | BMSCE UTSAV 2019</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:30,40,50,60,70" rel="stylesheet">
    
    <link rel="stylesheet" href="css/bootstrap.min.css">

    
    <link rel="stylesheet" href="css/fontawesome-all.min.css">

    
    <link rel="stylesheet" href="css/swiper.min.css">

    
    <link rel="stylesheet" href="style.css">

        <link rel="stylesheet" href="css/timetablejs.css">

    <style>
    </style>
</head>

<body class="tickets-page">


    <header class="site-header">
        <div class="header-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-10 col-lg-4">
                        <h1 class="site-branding flex">
                            <a href="#">UTSAV</a>
                        </h1>
                    </div>

                    <div class="col-2 col-lg-8">
                        <nav class="site-navigation">
                            <div class="hamburger-menu d-lg-none">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>

                            <ul>
                                <li><a href="/">HOME</a></li>
                                
                                <li><a href="/ticket">EVENTS</a></li>
                                <li><a href="/team">TEAM</a></li>
                                 <li><a href="/event-schedule">SCHEDULE</a></li>
                                <li><a href="https://goo.gl/maps/inrvEcmXwsM2" target="_blank"><i
                                            class="fas fa-map-marker-alt"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="entry-header">
                        <h2 class="entry-title">Schedule</h2>


                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="main-content">

       <div class="hero-unit" style="margin-bottom: 50px;">
      <p class="text-center">Don't miss out on any of the events. Catch this year's <b>schedule</b> here!</p>
    </div>




    <div class="timetable" id="ttable12"></div>




    <div class="timetable" id="ttable13"></div>


    <div class="timetable" id="ttable14"></div>






 
    </div>

    <footer class="site-footer">
        <div class="footer-cover-title flex justify-content-center align-items-center">
            <h2>BMSCE</h2>
        </div>

        <div class="footer-content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="entry-title">
                            <a href="#">UTSAV</a>
                        </div>

                        <!--  <div class="entry-mail">
                            <a href="#">CONTACTUS@BMSCEUTSAV.IN</a>
                        </div> -->

                        <div class="copyright-info">
                            
                            BMSCE UTSAV 2019
                            
                        </div>

                        <div class="footer-social">
                            <ul class="flex justify-content-center align-items-center">

                                <li><a href="https://www.facebook.com/utsavbmsce/" target="_blank"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://twitter.com/bmsce_utsav" target="_blank"><i
                                            class="fab fa-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/bmsce_utsav/" target="_blank"><i
                                            class="fab fa-instagram"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UC0kwxgOfXDe0KwN0gOm_j0A"
                                        target="_blank"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>



    <script type='text/javascript' src="js/timetable.js"></script>
    <script type='text/javascript' src='js/custom.js'></script>

    <script>
        
       var timetable12 = new Timetable();
  
        timetable12.setScope(8,22);
        timetable12.useTwelveHour();
        timetable12.addLocations(['Main Stage', 'Indoor Stadium', 'BMS Auditorium', 'Law College Arena','CR 301/302']);
        
        timetable12.addEvent('Inauguration', 'Main Stage', new Date(2018,4,12,17,0), new Date(2018,4,12,18,30));
        timetable12.addEvent('Group Dance', 'Main Stage', new Date(2018,4,12,18,30), new Date(2018,4,12,21,0));
  
        timetable12.addEvent('Anthharmukhi', 'Indoor Stadium', new Date(2018,4,12,16,15), new Date(2018,4,12,17,0));
        timetable12.addEvent('Mr. Utsav', 'Indoor Stadium', new Date(2018,4,12,18,30), new Date(2018,4,12,21,0));
  
        timetable12.addEvent('Fandom Quiz', 'BMS Auditorium', new Date(2018,4,12,9,0), new Date(2018,4,12,13,0));
        
        timetable12.addEvent('Adrenaline Junkyard', 'Law College Arena', new Date(2018,4,12,9,0), new Date(2018,4,12,16,0));
        
        timetable12.addEvent('Creative Writing', 'CR 301/302', new Date(2018,4,12,10,0), new Date(2018,4,12,13,0));
  
        var renderer = new Timetable.Renderer(timetable12);
        renderer.draw('#ttable12');



        var timetable13 = new Timetable();
        timetable13.setScope(8,22)
        timetable13.useTwelveHour();
        timetable13.addLocations(['Main Stage', 'Indoor Stadium', 'BMS Auditorium', 'Law College Arena', 'New Auditorium-1', 'CR Auditorium-2', 'EC Seminar Hall', 'MV Hall', 'BSN Hall', 'MCA Lab', 'MESH', 'CAD Lab', 'Mech & EC Block Passage', 'Gopi Wall', 'Coffee Kuteera', 'CR 209/210', 'CR 302/303', 'CR 304', 'CR 305', 'CR 307/308', 'CR 401/402', 'CR 403/404', 'CR 406/407', 'CR 408']);
        
        timetable13.addEvent('Battle of Bands', 'Main Stage', new Date(2018,4,13,12,0), new Date(2018,4,13,14,30));
        timetable13.addEvent('Folk Dance', 'Main Stage', new Date(2018,4,13,14,30), new Date(2018,4,13,15,0));
        timetable13.addEvent('ESH', 'Main Stage', new Date(2018,4,13,15,0), new Date(2018,4,13,17,0));
        timetable13.addEvent('Fashion Show', 'Main Stage', new Date(2018,4,13,17,0), new Date(2018,4,13,20,0));
        timetable13.addEvent('EDM Night', 'Main Stage', new Date(2018,4,13,18,0), new Date(2018,4,13,21,0));
        timetable13.addEvent('Solo Dance', 'Indoor Stadium', new Date(2018,4,13,10,0), new Date(2018,4,13,13,0));
        timetable13.addEvent('Mad Ads', 'Indoor Stadium', new Date(2018,4,13,14,0), new Date(2018,4,13,17,0));
        timetable13.addEvent('Debate', 'BMS Auditorium', new Date(2018,4,13,9,0), new Date(2018,4,13,17,0));
        
        timetable13.addEvent('General Quiz', 'New Auditorium-1', new Date(2018,4,13,9,0), new Date(2018,4,13,13,30));
        timetable13.addEvent('Western Vocals Solo', 'New Auditorium-1', new Date(2018,4,13,14,0), new Date(2018,4,13,14,30));
        
        timetable13.addEvent('Infinite aMAZE', 'CR 307/308', new Date(2018,4,13,10,0), new Date(2018,4,13,12,30));
        timetable13.addEvent('Rasaprashne', 'EC Seminar Hall', new Date(2018,4,13,10,0), new Date(2018,4,13,12,0));
        timetable13.addEvent('Pitch, Please', 'EC Seminar Hall', new Date(2018,4,13,12,30), new Date(2018,4,13,15,0));
        timetable13.addEvent('Counter Strike', 'CR 401/402', new Date(2018,4,13,9,0), new Date(2018,4,13,17,0));
        timetable13.addEvent('Code-a-Thon', 'MCA Lab', new Date(2018,4,13,10,0), new Date(2018,4,13,13,0));
        timetable13.addEvent('Capture the Flag', 'MCA Lab', new Date(2018,4,13,14,0), new Date(2018,4,13,19,0));
        timetable13.addEvent('Battle of Brains', 'CR 302/303', new Date(2018,4,13,14,0), new Date(2018,4,13,17,0));
        timetable13.addEvent('Mandala Workshop', 'CR 304', new Date(2018,4,13,10,0), new Date(2018,4,13,12,0));
        timetable13.addEvent('We Complete (Relay Painting)', 'CR 305', new Date(2018,4,13,13,0), new Date(2018,4,13,15,0));
        timetable13.addEvent('FIFA Dream Team', 'MV Hall', new Date(2018,4,13,10,0), new Date(2018,4,13,13,0));
        timetable13.addEvent('Mookabhinanya', 'MV Hall', new Date(2018,4,13,13,30), new Date(2018,4,13,15,30));
        timetable13.addEvent('FIFA 19', 'CR 403/404', new Date(2018,4,13,9,0), new Date(2018,4,13,17,0));
        timetable13.addEvent('Potpourri', 'CR 209/210', new Date(2018,4,13,9,0), new Date(2018,4,13,13,0));
        timetable13.addEvent('Instrumental Solo Non-Percussion', 'CR 406/407', new Date(2018,4,13,10,0), new Date(2018,4,13,14,0));
        timetable13.addEvent('PUBG', 'CR 406/407', new Date(2018,4,13,15,0), new Date(2018,4,13,18,0));
        timetable13.addEvent('Instrumental Solo Percussion', 'MESH', new Date(2018,4,13,10,0), new Date(2018,4,13,14,0));
        timetable13.addEvent('Vaaksamara', 'MESH', new Date(2018,4,13,15,30), new Date(2018,4,13,18,0));
        timetable13.addEvent('Rappeling', 'Law College Arena', new Date(2018,4,13,9,0), new Date(2018,4,13,16,0));
        timetable13.addEvent('Spent Quiz', 'BSN Hall', new Date(2018,4,13,14,0), new Date(2018,4,13,17,0));
        timetable13.addEvent('Online Treasure Hunt', 'CAD Lab', new Date(2018,4,13,14,0), new Date(2018,4,13,18,0));
        timetable13.addEvent('Virtual Reality', 'CR 408', new Date(2018,4,13,12,0), new Date(2018,4,13,16,0));
        timetable13.addEvent('Obstacle Cycling', 'Mech & EC Block Passage', new Date(2018,4,13,9,0), new Date(2018,4,13,16,0));
        timetable13.addEvent('Climbing (Competitive/Non-Competitive)', 'Gopi Wall', new Date(2018,4,13,9,0), new Date(2018,4,13,16,0));
        timetable13.addEvent('Photo Stage/Panorama', 'CR Auditorium-2', new Date(2018,4,13,9,0), new Date(2018,4,13,13,0));
        timetable13.addEvent('Instrumental Ensemble', 'CR Auditorium-2', new Date(2018,4,13,14,0), new Date(2018,4,13,17,0));
        timetable13.addEvent('Zipline', 'Law College Arena', new Date(2018,4,13,9,0), new Date(2018,4,13,16,0));
        timetable13.addEvent('Jummaring', 'Coffee Kuteera', new Date(2018,4,13,9,0), new Date(2018,4,13,16,0));
        var renderer = new Timetable.Renderer(timetable13);
        renderer.draw('#ttable13');



         var timetable14 = new Timetable();
  timetable14.setScope(8,22);
  timetable14.useTwelveHour();
  timetable14.addLocations(['Main Stage', 'Indoor Stadium', 'BMS Auditorium', 'Law College Arena', 'New Auditorium-1', 'FDC Hall', 'CR Auditorium-2', 'EC Seminar Hall', 'MV Hall', 'BSN Hall', 'C Bench', 'Rock Garden', 'MESH', 'CAD Lab', 'Mech & EC Block Passage', 'Gopi Wall', 'Coffee Kuteera', 'Infront of PG Block', 'CR 303', 'CR 307/308', 'CR 401/402', 'CR 403', 'CR 406', 'CR 408']);
  
  timetable14.addEvent('Sound Check', 'Main Stage', new Date(2018,4,14,9,0), new Date(2018,4,14,16,0));
  timetable14.addEvent('Whiplash', 'Main Stage', new Date(2018,4,14,16,30), new Date(2018,4,14,21,0));
  timetable14.addEvent('Turtle Jam', 'Indoor Stadium', new Date(2018,4,14,9,0), new Date(2018,4,14,15,0));
  
  timetable14.addEvent('India Quiz', 'BMS Auditorium', new Date(2018,4,14,9,0), new Date(2018,4,14,13,0));
  timetable14.addEvent('Chakrabyuha', 'BMS Auditorium', new Date(2018,4,14,13,30), new Date(2018,4,14,16,0));
  
  timetable14.addEvent('Speak in Verse (Slam Poetry)', 'New Auditorium-1', new Date(2018,4,14,10,0), new Date(2018,4,14,13,30));
  timetable14.addEvent('Indian Group Music', 'New Auditorium-1', new Date(2018,4,14,13,30), new Date(2018,4,14,16,0));
  
  timetable14.addEvent('Classical Vocal Solo', 'FDC Hall', new Date(2018,4,14,10,0), new Date(2018,4,14,14,0));
  timetable14.addEvent('Infinite aMAZE', 'CR 307/308', new Date(2018,4,14,10,0), new Date(2018,4,14,12,30));
  timetable14.addEvent('Counter Strike', 'CR 401/402', new Date(2018,4,14,9,0), new Date(2018,4,14,17,0));
  timetable14.addEvent('Delineate the Doodad', 'CR 303', new Date(2018,4,14,10,0), new Date(2018,4,14,13,0));
  timetable14.addEvent('Antyakshari', 'CR 403', new Date(2018,4,14,10,0), new Date(2018,4,14,12,0));
  timetable14.addEvent('Arcade Games', 'CR 406', new Date(2018,4,14,10,0), new Date(2018,4,14,12,0));
  timetable14.addEvent('Virtual Reality', 'CR 408', new Date(2018,4,14,12,0), new Date(2018,4,14,16,0));
  timetable14.addEvent('Strategists Day Out', 'MESH', new Date(2018,4,14,9,0), new Date(2018,4,14,13,0));
  
  timetable14.addEvent('Rappeling/Zipline', 'Law College Arena', new Date(2018,4,14,9,0), new Date(2018,4,14,16,0));
  timetable14.addEvent('Light Vocal Solo', 'BSN Hall', new Date(2018,4,14,10,0), new Date(2018,4,14,14,0));
  timetable14.addEvent('Last Actor Standing', 'BSN Hall', new Date(2018,4,14,15,0), new Date(2018,4,14,16,0));
  timetable14.addEvent('Acoustic/Group Singing', 'CR Auditorium-2', new Date(2018,4,14,10,0), new Date(2018,4,14,12,30));
  timetable14.addEvent('Arbit Quiz', 'CR Auditorium-2', new Date(2018,4,14,14,0), new Date(2018,4,14,16,0));
  timetable14.addEvent('Labyrinth', 'C Bench', new Date(2018,4,14,10,0), new Date(2018,4,14,17,0));
  timetable14.addEvent('Mock Placements', 'CAD Lab', new Date(2018,4,14,10,0), new Date(2018,4,14,13,0));
  timetable14.addEvent('Crack the Code', 'CAD Lab', new Date(2018,4,14,14,0), new Date(2018,4,14,16,0));
  timetable14.addEvent('Debate', 'EC Seminar Hall', new Date(2018,4,14,10,0), new Date(2018,4,14,12,30));
  timetable14.addEvent('Obstacle Cycling', 'Mech & EC Block Passage', new Date(2018,4,14,9,0), new Date(2018,4,14,16,0));
  timetable14.addEvent('Climbing (Competitive/Non-Competitive)', 'Gopi Wall', new Date(2018,4,14,9,0), new Date(2018,4,14,16,0));
  timetable14.addEvent('Street Play', 'Infront of PG Block', new Date(2018,4,14,10,0), new Date(2018,4,14,13,0));
  timetable14.addEvent('Ink the Tee (T-Shirt Painting)', 'Rock Garden', new Date(2018,4,14,13,0), new Date(2018,4,14,14,30));
  timetable14.addEvent('Jummaring', 'Coffee Kuteera', new Date(2018,4,14,9,0), new Date(2018,4,14,16,0));
  var renderer = new Timetable.Renderer(timetable14);
  renderer.draw('#ttable14');



    </script>
</body>

</html>