<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116236740-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116236740-2');
</script>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Bmsce Utsav 2018">
    <meta name="author" content="Bmsce Utsav 2018">





<meta name="theme-color" content="brown">
<meta name="apple-mobile-web-app-status-bar-style" content="brown">


    <title>BMSCE UTSAV 2018 - The Diary of a 90's Kid</title>
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../icons/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../icons/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../icons/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../icons/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="../icons/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="../icons/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="../icons/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="../icons/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="../icons/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="../icons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="../icons/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="../icons/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="../icons/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="../icons/&nbsp;"/>
<meta name="msapplication-TileColor" content="../icons/#FFFFFF" />
<meta name="msapplication-TileImage" content="../icons/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="../icons/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="../icons/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="../icons/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="../icons/mstile-310x310.png" />

    <!-- Bootstrap core CSS -->
    <link href="../home/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../home/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="../home/css/agency.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.1.99/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.0/css/swiper.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="../home/carousal/css/style.css">



    <style type="text/css">
  
  .timeline > li .timeline-end .timeline-image {
    border: 4px solid brown;
    color :#fffaca;
    background-color: brown;
  }
  .ml-auto{
  	margin: auto!important;
  }


.putsav {
  font-size: 1.2rem;
      text-align: center;
    text-justify: inter-word;
    font-family: sans-serif;
  /*padding:20px; */

}

section#sponsers > a > img{
	width: 200px;
	height: 200px;
}

@include media-breakpoint-up(sm) {
  .putsav {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  .putsav {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  .putsav {
    font-size: 1.6rem;
  }
}
.diary-quote{
  font-style: italic;
  color:brown;
  font-weight: bold;
}


  </style>

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger visi" href="#page-top"><!-- BMSCE UTSAV --><img class="img-fluid" src="../home/utsav.png" style="max-height:30px;"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="events">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="team">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="schedule">Schedule</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#flagship">Flagship Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#gallery">Gallery</a>
            </li>

            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#past">From The 90s</a>
            </li>
                        <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#sponsors">Sponsors</a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">

          <div class="intro-lead-in"><img src ="../home/utsav_logo.png"></div>

          <div class = "timer"><!-- <h4 style="color: brown">Timer goes here<h4> -->
            <h2  id="countdown" class="timer-font" style="color: brown"><h2>
            
          </div>
        </div>
      </div>
    </header>
<section id="about-utsav">
        <div class="container">
          <!-- <p><h1 class="text-center" style="color:brown;">BMSCE UTSAV - The Diary of a 90's Kid</h1></p> -->
          <h2 class="section-heading text-uppercase text-center">BMSCE UTSAV 2018- The Diary of a 90's Kid</h2>
           
                       <h3 class="section-subheading text-mute text-center" style="font-size:1.2rem; font-weight:bold;margin-bottom: 20px; color: brown">13th, 14th and 15th April, 2018</h3>

                      <!-- <h4 class="text-center" style="color:brown;">13th, 14th and 15th April, 2018</h4> -->

                  <p class="putsav">Utsav is BMSCE's pride, a huge part of its identity, and rightfully so. A product of its times and a legacy of the same, it is one of Bangalore’s biggest and most widely recognised fests. 

At Basavangudi, the heart of Bengaluru, Utsav seeks, more than anything to inspire and uphold the joy of being!
This year, it's all set to get bigger and better!

We reminisce about the memories long lost, cherish the good old times of the era of the 90's and reopen a bygone diary that echoes in our hearts even to this day.
<br>
UTSAV 2018 presents to you, <span class="diary-quote">"The Diary of a 90's Kid"</span>.
<br>
Get ready to travel back in time and relive those memories that we all cherish so deeply.</p>
        </div>
      </section>



                

    <!-- Flagship Events -->
    <section id="flagship">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Flagship Events</h2>
            <h3 class="section-subheading text-muted"></h3><br>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image"><a href = "events/western-dance-events#4">
                  <img class="rounded-circle img-fluid" src="https://imgur.com/mK1W0Dg.jpg" alt="" style="width:100%;height: 100%"></a>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    
                    <h3 class="subheading">Turtle Jam</h3>
                    <!-- <br> -->
                  </div>
                  <div class="timeline-body">
                    <p class = "text-muted">
                    <h5>15th April, 2018</h5><h5>10 AM to 5 PM</h5></p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image"><a href = "events/informal-events#3">
                  <img class="rounded-circle img-fluid" src="https://imgur.com/08ZO68X.jpg" alt="" style="width:100%;height: 100%"></a>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    
                    <h4 class="subheading">Whiplash</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted"><h5>15th April, 2018</h5><h5>10 AM to 5 PM</h5></p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image"><a href = "events/western-dance-events#1">
                  <img class="rounded-circle img-fluid" src="https://imgur.com/hZC4Ll3.jpg" alt="" style="width:100%;height: 100%"></a>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    
                    <h4>Eastern And Western Group Dance</h4>
                    
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted"><h5>13th April, 2018</h5><h5>7 PM to 9 PM</h5></p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image"><a href = "events/mountaineering">
                  <img class="rounded-circle img-fluid" src="https://imgur.com/bPefbps.jpg" alt="" style="width:100%;height: 100%"></a>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    
                    <h4>Sahas</h4>
                    <!-- <h4 class="subheading"></h4> -->
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted"><h5>14th and 15th April, 2018</h5><h5>10 AM to 5 PM</h5></p>
                  </div>
                </div>
              </li>

              <li>
                  <div class="timeline-panel">
                  <div class="timeline-heading">
                    
                    <h4>Fashion Show</h4>
                    
                  </div>
                    <p class="text-muted"><h5>14th April, 2018</h5><h5>4 PM to 7 PM</h5></p>
                  </div>


                <div class="timeline-image">
                  <a href = "events/fashion#1">
                  <img class="rounded-circle
                   img-fluid" src="https://imgur.com/wBkgsXb.jpg" alt="" style="width:100%;height: 100%"></a>
                </div>
                
                
              </li>
            
              <li class="timeline-inverted">
                <div class="timeline-end">
                  <a href="events">
                  <div class = "timeline-image" >
                      <span class="events-linker">All<br>Events</span>
                      
                  </div>
                </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>


    
    <section id="gallery">
      <div class="container">
        <div class="row" >
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Gallery</h2>
            <h3 class="section-subheading text-muted">A Glimpse from the Past</h3>
          </div>
        </div>
        <div class="carousel-gallery" >
          <div class="swiper-container">
            <div class="swiper-wrapper">
              
              <% var gal_img = ["https://imgur.com/CsWhL4b.jpg",
"https://imgur.com/3BVR07N.jpg",
"https://imgur.com/cLlxNPM.jpg",
"https://imgur.com/H8hiHGS.jpg",
"https://imgur.com/1m676Z6.jpg",
"https://imgur.com/QGEUyo4.jpg"]; 

                gal_img.forEach(function(img_name){
                %>
                <div class="swiper-slide">

                  <div class="image" style="background-image: url(<%= img_name %>)">
                    <div class="overlay">
                      <em class="mdi mdi-fullscreen"></em>
                    </div>
                  </div>
                </div>
                  <% }); %>
              
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </section>

    <!-- Clients -->



    
    <section id="past">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">From the 90's</h2>
            <h3 class="section-subheading text-mute">A little something for you to relish</h3>
          </div>

        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <div class = "team-member">
            <a href="https://www.youtube.com/watch?v=kXYiU_JCYtU"><img class="mx-auto rounded-circle" src="https://imgur.com/HuDn5gj.jpg" alt="" style="width: 70%;height: 100%"></a>
            </div>
            <h4 class="service-heading">Linkin Park</h4>
            <p class="text-muted">Linkin Park's Music, first time we heard English Music. Blessed to have them in our growing ages!</p>
          </div>
          <div class="col-md-4">
            <div class = "team-member">
            <a href = "https://www.youtube.com/watch?v=JuYeHPFR3f0"><img class="mx-auto rounded-circle" src="https://imgur.com/6Ts1i3Q.jpg" alt="" style="width: 70%;height: 100%"></a>
            </div>
            <h4 class="service-heading">Pokemon</h4>
            <p class="text-muted">All we wanted to see was Pokemon when we were kids! Ash, Brock and Misty were a part of us growing up! Who can forget Pikachuu! Here's a flash back to those times, click the link for the Pokemon theme! Gotta Catch 'Em All</p>
          </div>
          <div class="col-md-4">
            <div class = "team-member">
              <a href="http://supermarioemulator.com/mario.php">
            <img class="mx-auto rounded-circle" src="https://imgur.com/mh5HNsw.jpg" alt="" style="width: 70%;height: 100%"></a>
            </div>
            <h4 class="service-heading">Mario</h4>
            <p class="text-muted">The number of hours we've spent in front of the TV playing Mario! The secret underground passages, those turtles, the castle!</p>
          </div>
        </div>
      </div>
    </section>

    


    <section class="" id="sponsors">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Sponsors</h2>
            
          </div>
        </div>
      </div>
      <br>
      <div class="container">
       
        <div class = "row" >
          <div class="col-12 text-center" >
          <h2>Gold Sponsors</h2>
        </div>
        </div>



        <div class="row" style="padding: 40px">
          <div class="col-md-4 col-sm-4 text-center" style="padding: 15px">
           
              <img class="img-fluid d-block mx-auto" src="https://imgur.com/rwpN7na.jpg" align ="middle" alt="">
          
          </div>

          <div class="col-md-4 col-sm-4" style="padding: 15px"></div>
          
          <div class="col-md-4 col-sm-4" style="padding: 15px">
              <img class="img-fluid d-block mx-auto" src="https://imgur.com/pObSIdU.jpg" alt="">
          </div>

      </div>
      <div class="row" style="padding: 40px">
          <div class="col-md-4 col-sm-4 text-center" style="padding: 15px">
           
              <img class="img-fluid d-block mx-auto" src="https://imgur.com/2xnYYWI.jpg" alt="">
              
        
          </div>
           <div class="col-md-4 col-sm-4" style="padding: 15px"></div>
          <div class="col-md-4 col-sm-4 text-center" style="padding: 15px">
              <img class="img-fluid d-block mx-auto" src="https://imgur.com/z0FLtNk.jpg" alt="">
              
          </div>
        </div>

       

        <div class="row" style="padding: 40px">
        	<div class="col-md-4 col-sm-4 text-center">

        		<h3 style="padding: 20px">Associate Sponsor</h3>
              <img class="img-fluid d-block mx-auto" src="https://imgur.com/ctC9cVE.jpg" alt="">
              
        	</div>

        	<div class="col-md-4 col-sm-4 text-center">
        		<h3 style="padding: 20px">Radio Partner</h3>
              <img class="img-fluid d-block mx-auto" src="https://imgur.com/5vnX3pO.jpg" alt="">
              
        	</div>

        	<div class="col-md-4 col-sm-4 text-center">
        		<h3 style="padding: 20px">Health Partner</h3>
              <img class="img-fluid d-block mx-auto" src="https://imgur.com/HnKyOwz.jpg" alt="">
              
        	</div>
        </div>


        <div class = "row" >
          <div class="col-12 text-center" >
          <h4>Other Sponsors</h4>
        </div>
        </div>


        

        <div class="row" style="padding: 30px">
        	
        	

        	<div class="col-sm-4 col-md-4 " style="padding: 15px">
       
              <img class="img-fluid d-block mx-auto" src="https://imgur.com/4Tc1b2J.jpg" style="width:250px ;height:300px" alt="">
       
        		
        	</div>

        	<div class="col-sm-4 col-md-4">

              <img class="img-fluid d-block mx-auto" src="" alt="">
          
        		
        	</div>

        	<div class="col-sm-4 col-md-4" style="padding: 15px">
        	
              <img class="img-fluid d-block mx-auto" src="https://imgur.com/Y5lSLYp.jpg" style="width:275px ;height:300px" alt="">
        
        		
        	</div>

        </div>

      </div>
    </section>


    <!-- Footer -->
    <footer id="foot">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <span class="copyright">BMSCE UTSAV 2018</span>

          </div>

                              <div class="col-md-6 text-center">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://twitter.com/bmsce_utsav">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/utsavbmsce/">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/bmsce_utsav/">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
                            <li class="list-inline-item">
                <a href="https://www.youtube.com/channel/UC0kwxgOfXDe0KwN0gOm_j0A">
                  <i class="fa fa-youtube"></i>
                </a>
              </li>
                            <li class="list-inline-item">
                <a href="https://goo.gl/maps/AFH677UhZL42">
                  <i class="fa fa-map-marker"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    
    <!-- Bootstrap core JavaScript -->
    <script src="../home/vendor/jquery/jquery.min.js"></script>
    <script src="../home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../home/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="../home/js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../home/js/agency.min.js"></script>
    <script src="../home/js/countdown.js"></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.0/js/swiper.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js'></script>
    <script  src="../home/carousal/js/index.js"></script>

  </body>

</html>
