<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116236740-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-116236740-2');
    </script>


<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">



    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#303030">
    <meta name="msapplication-navbutton-color" content="#303030">
    <meta name="apple-mobile-web-app-status-bar-style" content="#303030">
    <title>Team | BMSCE UTSAV 2019</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    
    <link rel="stylesheet" href="css/bootstrap.min.css">

    
    <link rel="stylesheet" href="css/fontawesome-all.min.css">

    
    <link rel="stylesheet" href="css/swiper.min.css">

    
    <link rel="stylesheet" href="style.css">

    <style>
    </style>
</head>

<body class="tickets-page">
<div id="cover"></div>

    <header class="site-header">
        <div class="header-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-10 col-lg-4">
                        <h1 class="site-branding flex">
                            <a href="#">UTSAV</a>
                        </h1>
                    </div>

                    <div class="col-2 col-lg-8">
                        <nav class="site-navigation">
                            <div class="hamburger-menu d-lg-none">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>

                            <ul>
                                <li><a href="/">HOME</a></li>
                                
                                <li><a href="/ticket">EVENTS</a></li>
                                <li><a href="/team">TEAM</a></li>
                                <li><a href="/event-schedule">SCHEDULE</a></li>
                                <li><a href="https://goo.gl/maps/inrvEcmXwsM2" target="_blank"><i
                                            class="fas fa-map-marker-alt"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="entry-header">
                        <h2 class="entry-title">Team</h2>


                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="main-content">

        <h3 class="text-center" style="margin-bottom: 60px;">Faculty Core Committee</h3>

        <div class="container" style="margin-bottom: 40px;">
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <div class="our-team">
                        <img src="/images/f1.jpg" alt="">
                        <div class="team-content">
                            <h3 class="team-title">Dr Ravishankar B V<small>Principal</small></h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="our-team">
                        <img src="/images/f2.jpg" alt="">
                        <div class="team-content">
                            <h3 class="team-title">Dr Ravishankar D<small>Vice Principal</small></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="our-team">
                        <img src="/images/f3.jpg" alt="">
                        <div class="team-content">
                            <h3 class="team-title">Dr. H S Guruprasad<small>Working Chairman</small></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="our-team">
                        <img src="/images/f4.jpg" alt="">
                        <div class="team-content">
                            <h3 class="team-title">Dr. M. Shivarama Reddy<small>Organising Secretary</small></h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 offset-md-1">
                    <div class="our-team">
                        <img src="/images/f5.jpg" alt="">
                        <div class="team-content">
                            <h3 class="team-title">Dr J S Basavaraja<small>Treasurer</small></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 offset-md-1">
                    <div class="our-team">
                        <img src="/images/f6.jpg" alt="">
                        <div class="team-content">
                            <h3 class="team-title">Dr.Pradeepa S<small>Sponsorship Coordinator</small></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="text-center" style="margin-bottom: 60px;">Student Core Committee</h3>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="our-team">
                        <img src="/images/s1.jpg" alt=""/>
                        <div class="team-content">
                            <h3 class="team-title">Aravind Kumar SS<small> +91 96204 86519</small></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="our-team">
                        <img src="/images/s2.jpg" alt=""/>
                        <div class="team-content">
                            <h3 class="team-title">Praveen Kumar B<small> +91 80958 40515</small></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="our-team">
                        <img src="/images/s3.jpg" alt=""/>
                        <div class="team-content">
                            <h3 class="team-title">Chirag Chandrashekar<small> +91 87622 94436</small></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="our-team">
                        <img src="/images/s4.jpg" alt=""/>
                        <div class="team-content">
                            <h3 class="team-title">Geetha Keerthana<small> +91 94411 06782</small></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="our-team">
                        <img src="/images/s5.jpg" alt=""/>
                        <div class="team-content">
                            <h3 class="team-title">Yashasvi R Machani<small> +91 98800 86813</small></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="our-team">
                        <img src="/images/s6.jpg" alt=""/>
                        <div class="team-content">
                            <h3 class="team-title">Vignesh Y S<small> +91 72592 77617</small></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="our-team">
                        <img src="/images/s7.jpg" alt=""/>
                        <div class="team-content">
                            <h3 class="team-title">Janhavi Muralidar<small> +91 99007 94555</small></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="our-team">
                        <img src="/images/s8.jpg" alt=""/>
                        <div class="team-content">
                            <h3 class="team-title">Vishnudas MV<small> +91 88679 01804</small></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="site-footer">
        <div class="footer-cover-title flex justify-content-center align-items-center">
            <h2>BMSCE</h2>
        </div>

        <div class="footer-content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="entry-title">
                            <a href="#">UTSAV</a>
                        </div>

                   

                        <div class="copyright-info">
                            
                            BMSCE UTSAV 2019
                            
                        </div>

                        <div class="footer-social">
                            <ul class="flex justify-content-center align-items-center">

                                <li><a href="https://www.facebook.com/utsavbmsce/" target="_blank"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://twitter.com/bmsce_utsav" target="_blank"><i
                                            class="fab fa-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/bmsce_utsav/" target="_blank"><i
                                            class="fab fa-instagram"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UC0kwxgOfXDe0KwN0gOm_j0A"
                                        target="_blank"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script type='text/javascript' src='js/jquery.js'></script>
    <script type='text/javascript' src='js/masonry.pkgd.min.js'></script>
    <script type='text/javascript' src='js/jquery.collapsible.min.js'></script>
    <script type='text/javascript' src='js/swiper.min.js'></script>
    <script type='text/javascript' src='js/jquery.countdown.min.js'></script>
    <script type='text/javascript' src='js/circle-progress.min.js'></script>
    <script type='text/javascript' src='js/jquery.countTo.min.js'></script>
    <script type='text/javascript' src='js/custom.js'></script>
</body>

</html>