

.timetable {
	display: flex;
	align-items: stretch;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box
}

.timetable * {
	box-sizing: inherit
}

.timetable li,
.timetable ul {
	list-style-type: none;
	margin: 0
}

.timetable li,
.timetable ul {
	padding: 0
}

.timetable>aside {
	flex: none;
	/*min-width: 20%;*/
	width: 186px;
	padding: 0!important;
	margin-top: 46px;
	border-right: 5px solid transparent;
	position: relative;
	margin-bottom: 40px;
}

#ttable12>aside:before{
	padding: 15px;
	content: "April 12";
	font-size: 13px;
}

#ttable13>aside:before{
	padding: 15px;
	content: "April 13";
	font-size: 13px;
}

#ttable14>aside:before{
	padding: 15px;
	content: "April 14";
	font-size: 13px;
}

.timetable>aside li {
	padding: 0 15px;
	background-color: #efefef;
	line-height: 46px;
	font-size: 12px;
}

.timetable>aside li:not(:last-of-type) {
	border-bottom: 1px solid #fff
}

.timetable>aside .row-heading {
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal
}

.timetable>aside:before {
	content: "";
	display: block;
	background-color: #1e1a19;
	height: 46px;
	position: relative;
	margin-top: -46px;
	top: 0
}

.timetable aside li,
.timetable time li {
	height: 46px
}

.timetable>section {
	flex: 3 0 auto;
	width: 0;
	padding: 0!important
}

.timetable>section time {
	display: block;
	width: 100%;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch
}

.timetable>section>header {
	position: relative;
	top: 0;
	z-index: 3;
	width: 100%;
	overflow: hidden;
	background-color: #1e1a19;
	transform-style: preserve-3d
}

.timetable>section>header ul {
	display: flex;
	height: 46px;
	align-items: center
}

.timetable>section>header li {
	flex: none;
	display: block;
	position: relative;
	width: 96px
}

.timetable>section>header li .time-label {
	display: block;
	position: absolute;
	left: 0
}

.timetable>section>header li:not(:first-of-type) .time-label {
	transform: translateX(-50%)
}

.timetable>section>header li:last-of-type {
	width: 0
}

.timetable>section>header li:last-of-type .time-label {
	transform: translateX(-100%)
}

.timetable ul.room-timeline {
	border-left: none;
	display: flex;
	flex-direction: column;
	align-items: stretch
}

.timetable ul.room-timeline li {
	position: relative;
	background-color: #303030;
	height: 46px
}

.timetable ul.room-timeline li:nth-of-type(odd) {
	background-color: #303030;
}

.timetable ul.room-timeline li:first-of-type {
	border-top: 1px solid #000000
}

.timetable ul.room-timeline li:last-of-type {
	border-bottom: 1px solid #000000
}

.timetable ul.room-timeline li:not(:last-of-type) {
	border-bottom: none
}

.timetable ul.room-timeline li:first-child .time-entry {
	height: 44px
}

.timetable ul.room-timeline li:after,
.timetable ul.room-timeline li:before {
	content: "";
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0
}

.timetable ul.room-timeline li:before {
	background-image: linear-gradient(90deg, #000000 1px, transparent 0);
	background-size: 24px auto
}

.timetable ul.room-timeline li:after {
	background-image: linear-gradient(90deg, #000000, #000000 1px, #f4f4f4 0, #f4f4f4 2px, #000000 0, #000000 3px, transparent 0, transparent);
	background-size: 96px auto;
	background-position: -2px 0
}

.timetable .time-entry {
	background: -webkit-linear-gradient(#00d0ff, #25ffbf);
	transition:  0.2s;
	height: 45px;
	display: block;
	position: absolute;
	z-index: 2;
	padding: 0 10px;
	white-space: normal;
	overflow: hidden;
	color: #000;
	border: 1px solid white;
	transform-style: preserve-3d
}

.timetable .time-entry small {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	letter-spacing: -0.5px;
}

.timetable .time-entry:hover {
	background-color: #212121;
	color: white;
	font-weight: bolder;
}

.time-label{
	color: #e5e5e5;
	font-size: 12px;
}

.row-heading{
	color: #000;
}


